div#comments {
  font-family: 'IranianSans';
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #f2f2f2;
  width: 93%;
  margin: auto;
}
#form_submit_comment{
  margin: 5px 0;
  border: 1px solid #bbb;
}
.chatTitleContainer {

  text-align: right;
  font-size: 14pt;
  vertical-align: middle;
  display: table-cell;
  height: 50px;
  width: 100%;
  font-family: Expert-Sans-Regular, verdana, Arial, helvetica, sans-serif;
  color: #b5b5b5;

}

.chatContainer {

  height: 100%;
  width: 100%;
  background-color: #e4e4e4;
  padding: 20px;

}

.chatHistoryContainer {

  direction: ltr;
  padding: 20px;
  /*height: 400px;*/
  max-height: 700px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  background-color: #f4f4f4;
  border-top: 1px solid #e1e1e1;
  border-right: 1px solid #d4d4d4;
  border-left: 1px solid #d4d4d4;
  border-bottom: 1px solid #c3c3c3;
  /*border-top-right-radius: 6px;*/
  /*border-top-left-radius: 6px;*/

}

.chatMessageControls {

  margin-top: 6px;
  padding: 10px;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #e1e1e1;
  border-right: 1px solid #d4d4d4;
  border-left: 1px solid #d4d4d4;
  border-bottom: 1px solid #c3c3c3;
  /*border-bottom-right-radius: 6px;*/
  /*border-bottom-left-radius: 6px;*/

}

#undoSendButton {

  margin-right: 10px;
  border-radius: 3px;

}

#clearMessageButton {

  border-radius: 0;
  /*border-right: none;*/
  /*border-left: none;*/

}

#sendMessageButton {

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

}

.fa {

  margin-right: 6px;

}
.comment_leave_message {
  color: #000000b8;
  line-height: 35px;
  padding: 3px;
  background-color: #dddddd;
  min-width: 43px;
}
.text_area_comment_message {
  color: black;
  height: 42px;
  padding: 10px 10px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 0px;
}

.formComments {

  direction: rtl;
  list-style-type: none;
  /*overflow-y: scroll;*/
  height: 100%;
  padding-bottom: 60px;
  padding-left: 0px;
  padding-right: 0px;
}
textarea#comment_text {
  min-height: 50px;
}

.formComments li {
  margin-bottom: 10px;
}

.show_comment_system {
  margin-top: 10px;
}
.commentstep-1 {
  margin-right: 0px;
}

.commentstep-2 {
  margin-right: 24px;
}

.commentstep-3 {
  margin-right: 48px;
}

.commentstep-4 {
  margin-right: 92px;
}

.form-comments-table tr:nth-child(1) td:nth-child(1) {

  font-size: 9pt;
  color: #a7a7a7;
  white-space: nowrap;
  vertical-align: top;

}

.comment-user {

  margin-right: 10px;

}

.form-comments-table tr td {

  white-space: nowrap;

}
.form-comments-table tr:nth-child(1) td:nth-child(1) {

  padding-top: 8px;

}
.form-comments-table tr:nth-child(1) td:nth-child(2) {

  padding-top: 8px;
  font-size: 9pt;
  color: #737373;
  font-weight: bold;
  vertical-align: top;

}

.form-comments-table tr:nth-child(1) td:nth-child(3) {

  vertical-align: top;

}

.form-comments-table tr:nth-child(1) td:nth-child(4) {

  width: 100%;

}

.form-comments-table tr:nth-child(1) td:nth-child(5) {


}

.comment-step-controls {



}

.comment-avatar {

  margin-right: 10px;
  margin-left: 10px;
  width: 36px;
  height: 36px;
  background-color: #c9c9c9;

}

.comment-avatar img {

  width: 36px;
  height: 36px;

}


.comment-marker {

  margin-left: 10px;
  color: #aeaeae;

}


.comment-step1:hover {


}

.comment {

  width: 100%;
  background-color: #fff;
  font-size: 12px;
  margin: 0;
  padding: 8px 8px;
  line-height: 1.5;
  color: #9e9e9e;
  border-color: #ddd;
  cursor: pointer;
  border: 1px solid #e6e6e6;
  border-bottom: 3px solid #dddddd;
  border-radius: 3px;

}

.comment:hover {

  background-color: #fafafa;

}

.comment-actions {

  border-top: 1px solid #dddddd;
  padding-top: 8px;
  margin-top: 8px;
  display: none;

}

.commentTD {


}


/*------------------------------------------------------*/
/*------------------------------------------------------*/

.comment_theme {
  position: relative;
  padding: 1%;
}
.comment_area_right {
  position: absolute;
  width: 60px;
  height: 60px;
  text-align: center;
  top: 13px;
  left:0px;
}
.comment_area_right_rtl {
  position: absolute;
  width: 60px;
  height: 60px;
  text-align: center;
  top: 13px;
  right:0px;
}
.main_quote {
  background-color: #dadada!important;
  width: 100%;
  margin: auto;
  border: 1px dashed black;
  padding: 1%;
}
div#mainForm {
  margin-top: 1%;
  background-color: #e8e8e8;
  padding: 1%;
}
.commenter_avatar {
  border: 1px solid grey;
  padding: 1px;
  border-radius: 90px;
  width: 60px;
  height: 60px;
}

.comment_area {
  position: relative;
  padding: 0 2px;
}

.comment_area_left {
  position: relative;
  margin-left: 70px;
}

.comment_area_left_rtl {
  position: relative;
  margin-right: 70px;
}

.comment_content {
  position: relative;
  padding-left: 2%;
  border-left: 3px solid #bbb;
  padding-right: 5px;
  background: #eeeeee;
  min-height: 110px;
}
.comment_content_rtl {
  position: relative;
  padding-right: 8px;
  border-right: 3px solid #bbb;
  padding-left: 8px;
  background: #eeeeee;
  min-height: 110px;
}
.comment_created_at{
  position: relative;
  float: right;
  margin-right: 1%;
  font-size: 12px;
}
.comment_area_left p {
  padding-bottom: 65px;
}

.comment_area_left h5 {
  padding: 10px 5px 0;
}
.comment_area_left h5 a{
  color: #49a6eb;
  cursor: pointer;
}
.comment_area_left h5 a:hover{
  color: #3d85eb;
}

.comment_children {
  position: relative;
  margin-left: 80px;
}

.comment_btn_area {
  position: absolute;
  bottom: 14px;
  right: 8px;
}

.comment_btn_area_rtl {
  position: absolute;
  bottom: 14px;
  left: 8px;
}

.comment_btn_area button span {
  font-size: 12px;
  line-height: 12px;
}
.comment_btn_area_rtl button span {
  font-size: 12px;
  line-height: 12px;
}

.clearfixed {
  clear: both;
}

.comment_text_area{
  resize: vertical;
  color: black;
  height: 42px;
  padding: 10px 10px;
  font-size: 13px;
  line-height: 2.5!important;
  border-radius: 0px;
}
.btn-pluse-degree
{
  font-size: 15px;margin-top: 20px;color: green;
}
